.containerWithBackground {
  background: var(--secondary);
}

.mainLabel {
  text-align: left;
  margin-top: 29px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
}

.divContainerForm{
  width: 60%;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 30px;
  float: left;
  margin-top: 12px;
  margin-bottom: 20px;
}